.main-container{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.error-code{
    font-size: 288px;
    font-weight: 700;
    color: #FF6060;
    padding: 8vh;
}

.error-message{
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    padding: 10vh;
}

.home-link{
    a{
        color: black;
        &:visited{
            color: inherit;
        }
    }
    padding-bottom: 10vh;
    
}

