@import "../helpers/font.scss";
@import "../helpers/spacing.scss";
.main-container{
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
}

.error-code{
    font-size: 288px;
    font-weight: 700;
    color: #FF6060;
    padding: $space-xxl;
}

.error-message{
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    padding: $space-g;
}

.home-link{
    a{
        color: black;
        &:visited{
            color: inherit;
        }
    }
    padding-bottom: $space-g;
    
}

