@import '../helpers/font.scss';

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-banner-container{
    position: relative;
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: clamp(1.5rem, 2rem, 2.5rem);
        color:#FFFFFF;
        z-index: 10;
        font-family: $font-primary;
        width: 100%;
        text-align: center;
    }
}