@import "../helpers/spacing.scss";
@import "../helpers/font.scss";
@import "../helpers/colors.scss";

.property-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-primary;
    margin: $space-xs 0;
}

.property-content{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.property-details{
    display: flex;
    align-items: center;
}

.property-icon-rating{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}


.property-dropdown{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80vw;
    margin: $space-md 0;
    column-gap: $space-xxl;
}

.property-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: $space-sm;
    img{
        width: clamp(2rem, 5.5vw, 4rem);
        border-radius: 50%;
    }
}

.property-title{
    font-size: clamp(#{$fontsize-m}, 3vw, #{$fontsize-xl});
    font-weight: 500;
    color: $color-red
}

.location{
    font-size: clamp(#{$fontsize-xs}, 2vw, #{$fontsize-m});
    font-weight: 500;
    margin-top: $space-xs;
}

.host-name{
    display: flex;
    flex-direction: column;
    font-size: clamp(#{$fontsize-xs}, 2vw, #{$fontsize-m});
    font-weight: 500;
    color: $color-red;
}

.tags{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    column-gap: $space-sm;
}

@media(max-width: 830px){
    .property-content{
        flex-direction: column;
    }
    .property-dropdown{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .property-icon-rating{
        flex-direction: row-reverse;
        align-items: center;
    }
    .property-descrption{
        flex-direction: row;
    }

    .location{
        margin: $space-sm 0;
    }

    .tags{
        margin: $space-sm 0;
    }

    .property-icons{
        img{
            width: clamp(2rem, 8vw, 4rem);
        }
    }

    .host-name{
        font-size: clamp(#{$fontsize-xs}, 3vw, #{$fontsize-m});
    }

    .dropdown-container{
        padding: $space-lg 0
    }
}

