$font-primary: 'Montserrat', sans-serif;

$fontsize-xs: 0.75rem; //12px
$fontsize-s: 1rem; //16px
$fontsize-m: 1.125rem; //18px
$fontsize-l: 1.5rem; //24px
$fontsize-xl: 2rem; //32px
$fontsize-xxl: 3rem; //48px
$fontsize-g: 4rem; //64px
