@import "../helpers/spacing.scss";
@import "../helpers/colors.scss";
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: $space-xl 0px;
  img {
    width: 80vw;
    height: 25vh;
    object-fit: cover;
    display: block;
    border-radius: 16px;
  }
  .overlay {
    width: 80vw;
    height: 25vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: $color-gray;
    border-radius: 16px;
  }
  &.large {
    img{
        height: 50vh;
    }
    .overlay{
        height: 50vh;
    }
  }
}

@media(max-width: 580px){
  .banner-container{
    padding: $space-lg 0px;
  }
}
