@import "../helpers/font.scss";

.carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        position: absolute;
        font-family: $font-primary;
        font-weight: 500;
        font-size: 18px;
        color: white;
    }
}

.carousel-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77vw;
    button{
        background-color: transparent;
        border: none;
    }
}
.flip-button{
    transform: rotateY(180deg);
}