@import "../helpers/font.scss";
@import "../helpers/spacing.scss";

.carousel-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        position: absolute;
        font-family: $font-primary;
        font-weight: 500;
        font-size: 18px;
        color: rgb(255, 255, 255);
        bottom: $space-xxl;
    }
}

.carousel-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77vw;
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
}
.flip-button{
    transform: rotateY(180deg);
}

@media(max-width: 580px){
    
}