.carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77vw;
}