@import '..//helpers/font.scss';
@import '..//helpers/spacing.scss';

.dropdown-single{
    display: block;
    overflow: hidden;
}

.dropdown-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    width: 77vw;
    height: 4vh;
    padding: 10px 20px 10px 10px;
    z-index: 1;
}

.dropdown-title{
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 700;
    color:#FFFFFF;
}

.content-hidden{
    position: relative;
    display: flex;
    height: 0;
    overflow: hidden;
    transform: translateY(-100px);
    transition: all 0.6s ease;
    pointer-events: none;
    z-index: -1;
    p{
        font-family: $font-primary;
        font-size: 18px;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
}

.content-shown{
    display: flex;
    overflow: hidden;
    transition: all 0.6s ease;
    height: 10vh;
    width: 77vw;

    z-index: -1;
    p{
        font-family: $font-primary;
        font-size: 18px;
        opacity: 1;
        transition: opacity 0.8s ease;
    }
}

.vector-normal{
    transition: transform 0.3s ease;
    transform: rotate(-180deg);
}

.vector-flipped{
    transition: transform 0.3s ease;
}