@import '../helpers/spacing.scss';
@import '../helpers/colors.scss';
.footer-container{
    background-color: $color-black;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        margin: $space-lg 0;
    }
    .icon{
        margin-top: $space-xl;
    }
}