.footer-container{
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        margin: 2vw 0;
    }
    .icon{
        margin-top: 4vw;
    }
}