@import '../helpers/spacing.scss';

.footer-container{
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        margin: $space-lg 0;
    }
    .icon{
        margin-top: $space-xl;
    }
}