.property-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 60px;
    padding: 50px 0px;
    width: 80vw;
    height: 100vh;
}

.card-overlay{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom,#FFFFFF00, #0A0A0A00, #04040469)
}

.property-card{
    position: relative;
    background-color: #FF6060;
    border-radius: 10px;

    p{
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        padding: 20px;
        color:#FFFFFF;
        font-size: 18px;
        font-weight: 700;
    }
}