@import '../helpers/spacing.scss';
@import '../helpers/colors.scss';
@import '../helpers/font.scss';

.tag-container{
    font-family: $font-primary;
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    background-color: $color-red;
    padding: $space-xxs $space-xl;
}